.canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas__stage {
  background-color: var(--color-white);
  border-radius: var(--border-radius-10);
}

.canvas__controls {
  display: flex;
  padding: var(--spacing-medium);
  justify-content: space-between;
  background-color: var(--color-white);
  margin-top: var(--spacing-medium);
  border-radius: var(--border-radius-10);
}
