@import "../../../variables.css";

.card {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-medium-xl);
  padding: var(--spacing-medium-xl);
  border-radius: var(--border-radius-20);
  background-color: var(--color-white);
}
