.icbutton {
  border: none;
  background-color: var(--color-white);
  cursor: pointer;
  padding: var(--spacing-small-l);
  border-radius: var(--border-radius-10);
}

.selected {
  background-color: var(--color-grey-black);
  color: var(--color-white);
}
