.icbutton {
  border: none;
  background-color: var(--color-white);
  cursor: pointer;
  margin: 0 var(--spacing-small-l);
}

.selected {
  background-color: var(--color-grey-black);
  border-radius: var(--border-radius-10);
  color: var(--color-white);
  padding: var(--spacing-small-l);
}
